---
layout: default
title: My experiments with data 
---
	<h1>{{ page.title }}</h1>
	<blockquote><p class=quotes><em>"All models are wrong. But some are more useful than others."</em></p></blockquote>
	<p> I employ my understanding of Quantitative Economics, Data Science and Mathematical modelling to answer questions related to what I know best-- Macro/Finance, Decision Sciences and, for my own musing, Literature. But sometimes, I can be sacrilegious! I work with R, Python and Spark. This space is my play-field, really.</p>
	<ul class="posts">
	 {% assign post_array = site.posts| where: "categories","Projects" %}
	 {% for post in post_array %}
      		  <li><span>{{ post.date | date_to_string }}</span>&raquo;<a href="{{ post.url }}"> {{ post.title }}</a></li>
		  {% if post.description==NULL%}
			<p>"Read on..."</p>
		  {% else %}
			<p>"{{post.description}}..."</p>
		  {% endif %}
    	  {% endfor %}
	  

	</ul>



