---
layout: default
title:  Seasons down the lane
---
	<h1>{{ page.title }}</h1>
	<p> A digest of poems curated by me for the love of poetry. None of the poems are my own and I shall give the writers due credit for their works.</p>
	<ul class="posts">
	 {% assign post_array = site.posts| where: "categories","Poetry-Digest" %}
	 {% for post in post_array %}
      		  <li><span>{{ post.date | date_to_string }}</span>&raquo;<a href="{{ post.url }}"> {{ post.title }}</a></li>
		  {% if post.description==NULL%}
			<p>"Read on..."</p>
		  {% else %}
			<p>"{{post.description}}..."</p>
		  {% endif %}
    	  {% endfor %}
	  

	</ul>
