<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>		       
	        		<li><a href="/Reviews">Reviews</a></li>
				<li><a href="/Non-fiction">Essays</a></li>
	        		<li><a href="/Projects">Projects</a></li>
				<li><a href="/Poetry-Digest">Poetry digest</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:meghana.yerabati@gmail.com">email</a></li>
	        		<li><a href="https://github.com/meghanayerabati">github.com/meghanayerabati</a></li>
				<li><a href="https://github.com/meghanayerabati/meghanayerabati.github.io/blob/master/cv/" >cv</a></li>
				</ul>
			</footer>
		</body>
	</html>
